/* --------------- Página Contato  --------------- */
.formulario-cadastro {
	display: flex;
	width: 940px;
	margin: 4rem auto;
	
}

.div-formulario-cadastro {
	display: flex;
	flex-direction: column;
	width: 80%;
	background: #565656be;
	padding: 10%;
	border-radius: 10px;
	
}

.contato-label {
	display: block;
	font-size: 1.2rem;
	color: #FEFEFE;
	font-weight: bold;
	margin: 0.25rem 15% 0.5rem 15.5%;
}

.contato-input {
	font-size: 1.2rem;
	height: 2.5rem;
	width: 70%;
	border: none;
	margin: 0.5rem 15% 1.5rem 15%;
	border-radius: 8px;
	padding-left: 1rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
}

.contato-input::placeholder {
	color: #5063af;
	font-size: 1rem;
}

.contato-radio {
	margin-right: 1rem;
}

.label-contato-radio {
	font-size: 1.2rem;
	padding: 0.1rem;
	color: #FEFEFE;
	font-weight: bold;
	margin: 0.5rem 15%;
	
}

.botao-contato {
	color: #FEFEFE;
	background-color: #5063af;
	cursor: pointer;
	margin: 2rem 15% 2rem 15%;
	height: 40px;
	width: 30%;
	border-radius: 10px;
	font-size: 1.2em;
	border: none;
	transition: 1s all;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
}

.botao-contato:hover {
	background-color: #2a3e8d;
	transform: scale(1.13);
}

/* --------------- Manipulações JS  --------------- */

.cadastro-realizado, .timer {
	font-size: 1.4rem;
	color: #FEFEFE;
	font-weight: bold;
	text-align: center;
	margin-top: 2rem;
}
