/* Limpando formatações padrão */
 * {
 	margin: 0;
 	padding: 0;
 }

 body {
 	font-size:  1em; /* Equivale a 16px */
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	background: #e6e6e6;
 }

 /*
#### Layout ####
 */

#area-cabecalho {
	background-image: linear-gradient(45deg, #CC2EFA, #2E64FE); /* degradê */ 
	padding: 15px;
	text-align: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-principal {
	width: 920px;
	margin: 0 auto; /* 0: ; margin top, bot // auto: margin left, right (ajusta automaticamente) */
	padding: 15px;
}

#area-postagens {
	width: 660px;
	float: left;
}

#area-lateral {
	width: 240px;
	float: right;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.img-borda {
	border-radius: 15px;
}

.img-borda-lateral {
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
}

.postagem-lateral {
	font-variant: 0.8em;
	padding: 5px;
}

ul {
	list-style-type: none;  /* -> Remove as bolinhas da lista */
}

ul a {
	width: 220px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px; /* move o texto de lugar dentro do elemento */
	line-height: 40px;
	background: url(../Imagens/menu.png) no-repeat left bottom; /* -> ../ faz voltar para pasta anterior */
}

ul a:hover {
	background-position: right bottom;
	color:  #fff;
}

#rodape {
	clear: both;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	background: #CCC;
	border-radius: 10px;
}

/*
#### Formatação do Menu ####
*/
a {
	text-decoration: none;
}

a:link, a:visited { 
	color: #2E64FE;
}

a:hover {   /* Quando passa o mouse por cima do link */
	color: #4e4e4e;
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited { /* Combinação de seletores para definir propriedades apenas nos links desejados*/
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover { 
	color: #CC2EFA;
	background: #4e4e4e;
	border-radius: 10px;
}

/*
#### Formatações Gerais ####
*/
h1 { /* logo - AbisculaTec */
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
background: #CC2EFA;
background: -webkit-linear-gradient(45deg, #CC2EFA 0%, #2E64FE 100%);
background: -moz-linear-gradient(45deg, #CC2EFA 0%, #2E64FE 100%);
background: linear-gradient(45deg, #CC2EFA 0%, #2E64FE 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}

.branco {
	color: white;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block; /* mudar para block para aplicar as propriedades de margin e bord */
}
