/* --------------- Página Games  --------------- */
.body-games {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	background: #D7CEC7;
}

.main-games {
	width: 940px;
	display: flex;
	margin: 2rem auto;
	flex-direction: column;
}

.fitrando-jogos {
	width: 20%;
	padding: 0.5rem;
	margin-bottom: 2rem;
	border: none;
	border-radius: 8px;
	color: #76323F;
	font-size: 1rem;
}

.div-games {
	width: 100%;
	display: flex;
}

table {
	width: 100%;
	margin-bottom : 5rem;
	background: #c09f8062;
	color: #565656;
}

td, th {
	vertical-align: middle;
	padding: 0.7em;
	margin: 0;
	border: 1px solid #565656;
	text-align: center;
}

th {
	font-weight: bold;
	background: #646363;
	color: #f5f0f0;
	font-size: 1.05rem;
}

tfoot {
	font-weight: bold;
	font-size: 1.05rem;
}

.form-games {
	display: flex;
	flex-direction: column;
	background: #646363af;
	padding: 2rem;
	border-radius: 10px;
	margin-bottom: 5.2rem;
}


.div-form-games {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
}


.games-label {
	width: 30%;
	color: #f5f0f0;
	font-weight: bold;
}

.game-input {
	width: 50%;
	height: 2rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	border-radius: 8px;
	border: none;
	color: #76323F;
	font-size: 1.2rem;
}

.div-game-button {
	display: flex;
	justify-content: space-around;
	margin-top: 2.5rem;
}

.button-game {
	height: 2rem;
	width: 25%;
	border-radius: 20px;
	border: none;
	background: #5063af;
	color: #FEFEFE;
	font-size: 1.1rem;
	cursor: pointer;
}

.button-game:hover {
	background: #2a3e8d;
}


/* --------------- Manipulações JS  --------------- */

.tr-remove-fadeOut {
	opacity: 0;
	transition: 0.5s;
}