/* --------------- main --------------- */

.container {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 2rem auto;
}

.main-index {
	width: 70%;
	display: flex;
	flex-direction: column;
}

section {
	padding: 1rem;
	margin-bottom: 2.5rem;
	background: #c09f80b9;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
	border-radius: 15px;
}

section p {
	padding: 0.5rem;
	text-align: center;
	color: #565656;
}

h2 {
	font-size: 1.3rem;
	font-weight: bold;
	color: #f5f0f0;
}

.img-section {
	border-radius: 15px;
	width: 100%;
}

.data-postagem {
	font-size: 0.8em;
	color: #76323F;
	border-bottom: 1px solid #565656;
	margin: 0.8rem;
	display: flex;
	justify-content: flex-end;
}

.container .a-leia-mais {
	display: block;
	color: #76323F;
	margin: 0.4rem 0 0.2rem;
	text-decoration: none;
}


/* --------------- lateral --------------- */
aside {
	width: 25%;
	display: flex;
	flex-direction: column;

}

.conteudo-lateral {
	background: white;
	margin-bottom: 1.5rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
}

h3 {
	text-align: center;
	font-size: 1.2rem;
	padding: 0.6rem;
	background: #565656;
	color: #FFF;
}

.img-lateral {
	border-radius: 15px;
	width: 100%;
}

.fundo-img-lateral {
	display: flex;
	background: rgba(128, 126, 126, 0.171);
	padding: 0.3rem;
	margin-bottom: 1.5rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);
}

.postagem-lateral {
	font-variant: 0.8em;
	padding: 0.7rem;
}

ul {
	list-style-type: none;  /* -> Remove as bolinhas da lista */
	padding: 0.3rem;
}

ul a {
	text-decoration: none;
	line-height: 2.5rem;
	font-size: 1.05rem;
	display: block;
}

ul a:before {
	content: ' ♦ ';
	margin-left: 4px;
}

.conteudo-lateral ul a:hover {
	color:  #fff;
}

.conteudo-lateral a {
	text-decoration: none;
	color: rgb(92, 91, 91);
	font-weight: bold;
}

.conteudo-lateral a:link, a:visited { 
	color: rgb(92, 91, 91);
	font-weight: bold;
}

.conteudo-lateral li:hover {
	color: #FFF;
	background:  #5063af;
}


.form-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: rgba(255, 255, 255,0.3);
	border-radius: 10px;
	margin-bottom: 1.5rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);

}

.form-login img {
	display: flex;
	/* justify-content: space-between; */
	width: 50%;
}

.input-index {
	display: flex;
	height: 40px;
	width: 75%;
	font-size: 18px;
	margin: auto auto 10px;
	background-color: #fff;
	padding-left: 40px;
	border: 1px solid white;
	background-repeat: no-repeat;
	background-position: 0.4rem;
}

.email {
	background-image: url(../imagens/icone-usuario.png);
}

.senha {
	background-image: url(../imagens/icone-cadeado.png);
}

.cont-senha-login {
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 1rem;
}

.div-button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 0.6rem;
}

.botao-login {
	color: #FFF;
	background-color: #5063af;
	cursor: pointer;
	margin-bottom: 10px;
	height: 40px;
	width: 80%;
	border-radius: 10px;
	font-size: 1.2em;
	border: none;
	transition: 1s all;
}

.botao-login:hover {
	background-color: #2a3e8d;
	transform: scale(1.13);
}

/* --------------- Manipulação JS  --------------- */

.div-login-js { 
	text-align: center;
}
	
.p-js, .p-js1 {
	text-align: center;
	font-size: 1.05rem;
	line-height: 2rem;
	color: rgba(0, 0, 0, 0.733)
}

.p-js1:before, .p-js1:after {
	content: ' ❄ ';
}

.span-email-login {
	font-weight: bold;
	color: #d9534f;
}